In [22]:
# Load pandas
import pandas as pd

# Read CSV file into DataFrame df
df = pd.read_csv('C:/Users/XXiong/Documents/ETS/upskill/Data Science Academy/week 5/Synthetic Dataset/PSTRE_syntheticData.csv', header=0)
df[["TestTakerID", "Timestamp", "Coding"]]= df[df.columns[0]].str.split("\t", n = 2, expand = True)
df1=df.iloc[:, 1:4]
df1

      TestTakerID Timestamp     Coding
0         1001042         0      START
1         1001042     44985      SS_Se
2         1001042     55852   SS_Se_OK
3         1001042     55950  SS_Type_2
4         1001042     66546          E
...           ...       ...        ...
10991     4076375     82216         SS
10992     4076375    107365          E
10993     4076375    112452       Next
10994     4076375    113670    Next_OK
10995     4076375    113672        END

[10996 rows x 3 columns]

In [56]:
print(df1.shape)
examinee=list(df1.groupby("TestTakerID"))
print(len(examinee))
examinee[0]

(10996, 3)
1079

('1001042',
   TestTakerID Timestamp     Coding
 0     1001042         0      START
 1     1001042     44985      SS_Se
 2     1001042     55852   SS_Se_OK
 3     1001042     55950  SS_Type_2
 4     1001042     66546          E
 5     1001042     90189         SS
 6     1001042     96096          E
 7     1001042    101813       Next
 8     1001042    105379    Next_OK
 9     1001042    105382        END)

In [201]:

import numpy as np

for count, ele in enumerate(examinee,0):
    tmp=ele[1]['Timestamp'].values.astype('int')
    TimeInterval=np.diff(tmp)
    TimeInterval=np.insert(TimeInterval, 0,0)

    tmp1=ele[1]['Coding'].values
    ActionSeq=list(zip(tmp1[:-1], tmp1[:]))
    ActionSeq=np.append(ActionSeq, [['-' ,'-']], axis=0)


print(len(examinee))
examinee[0]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\XXiong\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

1079

('1001042',
   TestTakerID Timestamp     Coding  TimeInterval              ActionSeq
 0     1001042         0      START             0         [START, SS_Se]
 1     1001042     44985      SS_Se         44985      [SS_Se, SS_Se_OK]
 2     1001042     55852   SS_Se_OK         10867  [SS_Se_OK, SS_Type_2]
 3     1001042     55950  SS_Type_2            98         [SS_Type_2, E]
 4     1001042     66546          E         10596                [E, SS]
 5     1001042     90189         SS         23643                [SS, E]
 6     1001042     96096          E          5907              [E, Next]
 7     1001042    101813       Next          5717        [Next, Next_OK]
 8     1001042    105379    Next_OK          3566         [Next_OK, END]
 9     1001042    105382        END             3                 [-, -])